html, body{
    /* background: url(../pic/login/SignUp_BG.png) no-repeat center fixed;
    background-size: cover; */
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.background-container{
    height: 100%;
    min-height: 790px;
    background: url(../pic/login/SignUp_BG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

a{
    font-size: 18px;
    text-transform: uppercase;
    color: #FFE6A3;
    text-decoration: none;
}

li > a:hover{
    color: #FFE6A3;
    text-decoration: underline;
}

li > a:visited{
    color: #FFE6A3;
    text-decoration: none;
}

.button-a{
    color: #0C1A82;
    background-color: #FFE6A3;
    border-radius: 36px;
    padding: 12px 25px;
}

.button-a:hover{
    color: #0C1A82;
    text-decoration: underline;
}

.button-a:visited{
    color: #0C1A82;
    text-decoration: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,230,163, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.head-button{
    background-color: #FFE6A3;
    border-radius: 36px;
}

.head-hr{
    border: 1px solid #FFE6A3;
    background-color: #FFE6A3;
    opacity: 1;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.form-container{
    background-color: #F5F5F6;
    width: 30%;
    height: 88%;
    min-width: 450px;
    min-height: 695px;
    margin-right: 0;
    margin-left: auto;
}

.title, label, button{
    text-transform: uppercase;
    font-weight: bold;
}

.title{
    /* margin-top: 50px; */
    padding-top: 40px;
    padding-left: 40px;
    font-size: 30px;
    /* font-weight: 900; */
}

.form-hr{
    border: 2px solid #B1B1B1;
    background-color: #B1B1B1;
    width: 82%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

p{
    padding-top: 40px;
    padding-left: 55px;
}

label{
    font-size: 22px;
}

input{
    font-family: inherit;
    font-size: 18px;
    width: 82%;
    border: none;
    border-radius: 27.5px;
    margin-left: 55px;
    padding: 8px 16px;
}

.submit-button{
    color: white;
    background-color: #FA7373;
    font-size: 18px;
    border: none;
    margin-top: 40px;
    margin-left: 55px;
    padding: 8px 30px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #0F0320;
    padding-top: 35px;
}

.payments-ul{
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    flex-direction: row;
    justify-content: center;
}

.payments-ul li{
    width: 50%;
    text-align: center;
}

dt{
    color: #FFE6A3;
    text-transform: uppercase;
}

dd{
    width: fit-content;
}

#mastercard-img{
    width: 5%;
    min-width: 60px;
}

#visa-img{
    width: 8%;
    min-width: 90px;
}

#true-wallet-img{
    width: 10%;
    min-width: 115px;
}

#kplus-img{
    width: 3%;
    min-width: 35px;
}

#facebook-img{
    width: 3%;
    min-width: 35px;
}

#instagram-img{
    width: 3%;
    min-width: 35px;
}

#gmail-img{
    width: 3%;
    min-width: 35px;
}

.shop-footer{
    color: #D4AE1C;
}

@media only screen and (max-width: 768px){
    .button-a{
        color: #FFE6A3;
        background-color: transparent;
        border-radius: initial;
        padding: initial;
    }

    .me-4{
        margin-right: 0%!important;
    }

    .me-5{
        margin-right: 0%!important;
    }

    ul{
        margin-top: 10px;
    }

    li{
        /* background-color: rgba(255, 230, 163, 0.25); */
        text-align: center;
        border-bottom: 1.5px solid rgb(252, 208, 89);
        /* border-top: transparent;
        border-bottom: transparent; */
        padding: 4px 7px;
        /* padding-top: 4px;
        padding-bottom: 4px; */
    }

    .button-a{
        color: #FFE6A3;
        text-decoration: none;
    }

    .button-a:visited{
        color: #FFE6A3;
        text-decoration: none;
    }

    .payments-ul{
        flex-direction: column;
        padding-left: 0;
    }

    .payments-ul li{
        width: initial;
    }
}